<% provide(:title, 'Bio Page') %>

<h1 style="margin-bottom: 0; padding-bottom: 0">
Personal info for Lee Chastain
</h1>
<hr style="width:100%; height: 4px; color:#000000; background-color: black; margin-top: 5px;" />

<div style="float: left">
    <h3>My Photo</h3>
    <%= image_tag('img_0077.jpg', :height => '60%', :width => '60%') %>
</div>

<div style="float: right">
    <h3>My Gravatar</h3>
    <%= image_tag('underdog.gif', :height => '40%', :width => '40%') %>
</div>

<div style="clear: both"></div>

<div style="margin-top: 20px; font-size: 18px; line-height: 24px;">
    Born in Marlin, TX but my parents had an adventurous spirit so two years later we all
    moved to Alaska - too many highlights there to mention on this page but we did make our own homestead
    and my childhood was memorable.  Fast-forward to senior year at Buena High School in Sierra Vista, AZ and
    then on to 2.5 years at the University of Arizona in Tucson (studying Electronics, Journalism
    and Russian) before losing focus and going into a period of trying other things such as clerk-typist,
    stock clerk, lifeguard, security guard, locksmith.  Eventually joined the Navy and got some solid
    hands-on training in electronics, and the career was 'on'.  After the Navy I still wanted to get a degree
    but this time I had to pursue it along with working and providing for my family so it was a slow, painful
    process and in fact spanned a couple more universities (University of California at Irvine & West Coast
    University) and several more years before finally achieving the Bachelor of Science in Computer
    Science and Mathematics from California State University - Long Beach, while working at TRW.
    While my cumulative GPA had suffered from all the false
    starts, the average of the later upper-level course work done in residence at CSULB was much better (3.5).
    After earning the bachelor's degree, moved back to Arizona and continued to work as a computer scientist
    by day and as a student by night, to earn a master's degree in Computer Information Systems.
    Eventually made it back to Texas, in 2008.
</div>

<!-- Make some room at the bottom.  -->
<div style="height: 60px;"></div>
