<% provide(:title, 'My Blog') %>

<p style="text-align:center;">
    <span style="font-family:Cursive, serif;font-size:48px;font-style:normal;font-weight:normal;
            text-decoration:none;text-transform:none;color:#000000;">
        My Blog
    </span>
</p>

<br>
<h3 style="text-align: center">
    <span style="width:100%">No Comment.</span>
</h3>
<%= image_tag "smylee.jpg", :alt => ":)", :id => "smylee",
    :style => "display: block; margin-left: auto; margin-right: auto; height: 100px; width: 100px;"
%>

